@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwind-scrollbar";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--color-bg-sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--color-ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--color-accent);
  --color-muted-foreground: var(--color-text-muted);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@theme {
  /* my colors */
  --color-bg: var(--background);
  --color-bg-sidebar: var(--color-bg-sidebar);
  --color-text: var(--color-text);
  --color-text-secondary: var(--color-text-secondary);
  --color-danger: var(--color-danger);
  --color-blue: var(--color-blue);
  --color-accent: var(--color-accent);
  --color-hover: var(--color-hover);
  --color-logo-hover: var(--color-logo-hover);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);

  /* my animations */
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(6px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
      transform: translateY(-6px);
    }

    to {
      opacity: 0;
      transform: translateY(0);
    }
  }

  --animate-fade-in: fade-in 0.35s ease-out forwards;
  --animate-fade-out: fade-out 0.35s ease-out forwards;
}

:root {
  --radius: 0.625rem;
  --background: #fff;
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: #fafafa;
  --primary-foreground: #171717;
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
  --color-bg-sidebar: #f9fafb;
  --color-text: #27272a;
  --color-text-secondary: #6b7280;
  --color-text-muted: #737373;
  --color-accent: #fcfcfc;
  --color-hover: #e5e7eb;
  --color-ring: #2e2e2e;
  --color-blue: #2530cb;
  --color-danger: #cb252d;
  --color-success: #34d399;
  --color-warning: #d3d034;
  --color-error: #ff4141;
}

.dark {
  --background: #0a0a0a;
  --foreground: oklch(0.984 0.003 247.858);
  --card: #0a0a0a;
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: #0a0a0a;
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: #262626;
  --primary-foreground: #fafafa;
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: #262626;
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: #a1a1a1;
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
  --color-bg-sidebar: #121212;
  --color-text: #e5e7eb;
  --color-text-secondary: #a1a1aa;
  --color-text-muted: #a1a1a1;
  --color-accent: #181818;
  --color-hover: #27272a;
  --color-ring: #2e2e2e;
  --color-danger: #cb252d;
  --color-blue: #2530cb;
  --color-warning: #d3d034;
  --color-success: #34d399;
  --color-error: #f87171;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* html {
    scrollbar-gutter: stable;
  } */

  * {
    scrollbar-width: thin;
    scrollbar-color: color-mix(in srgb, var(--foreground), transparent 70%) transparent;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: var(--animate-fade-in);
  }

  .animate-fade-out {
    animation: var(--animate-fade-out);
  }
}
